<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
</head>
<body>
    <h1>This is a page to Contact Me</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
</body>
</html>