//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-   <meta charset="UTF-8">
//-   <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-   <title>Basic Informational Site - NodeJS</title>
//- </head>
//- <body>
//-   <a href="/about">About</a>
//-   <a href="/contact-me">Contact Me</a>
//-   p= message
//- </body>
//- </html>

html(lang='en')
  head
    title Pug / Express TW427
  body
    a(href="/about") About 
    a(href="/contact-me") Contact Me 
    p= message